
/**
 * AppsFlyer logo.
 */

.logo[data-logo="AppsFlyer"] {
  width: 3.4402603440260346em;
}

.logo[data-logo="AppsFlyer"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="AppsFlyer"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="AppsFlyer"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}